<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Password-creator</Name>
    <Version>7.0</Version>
    <Title>Password-creator</Title>
    <Publisher>Émile Laforce</Publisher>
    <InstallerApplicationIcon>../../resources/icon</InstallerApplicationIcon>
    <StartMenuDir>Emalice</StartMenuDir>
    <WizardStyle>Modern</WizardStyle>
    <TargetDir>@ApplicationsDir@/Emalice/Password-creator</TargetDir>
</Installer>